.body {
    background: $body-background;
    max-width: 100%;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.title{
  font-family: $h-style;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  
  font-weight: 400;
}

.section{
  padding: 20px 0;
}


.hero__button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;

    background: rgba(103, 213, 215, 0.6);
    border-radius: 5px;
}

.hero-button-link{
    color: $text-color;
    font-size: 14px;
}