.body {
    background: $body-background;
    max-width: 100%;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
}

.title{
  font-family: $h-style;
  font-size: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
}