.body {
    background: $body-background;
    max-width: 100%;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.title{
  font-family: $h-style;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  
  font-weight: 400;
  color: $h-color;
}


.button {
  display:flex;
  align-items:center;
  justify-content:center;
  margin:20px auto;
  padding:10px 24px;
  width: 160px;
  height: 40px;
  background:#ffbc9a;
  border-radius:8px;
  color:#5a4035;
  font-size:16px;
  font-weight:600;
  text-decoration:none;
}

.seo {
    margin-top: 20px;
    font-size: 14px;
    color: $h-color;
    text-align: center;
}