@import './reset';
@import './styles';
@import './general';
@import './header/header';
@import './hero/hero';
@import './cleaning/cleaning';
@import './whyMe/whyme';

@import './gallery/gallery';
@import './form/form';
@import './FAQ/questions';
@import './steps/steps';
@import './footer/footer';