@use './reset';
@use './styles';
@use './general';
@use './header/header';
@use './hero/hero';
@use './cleaning/cleaning';
@use './whyMe/whyme';

@use './gallery/gallery';
@use './form/form';
@use './FAQ/questions';

@use './steps/steps';
@use './footer/footer';