@import './reset';
@import './styles';
@import './general';
@import './header/header';
@import './hero/hero';
@import './price/price';
@import './cleaning/cleaning';
@import './whyMe/whyme';
@import './footer/footer';
@import './gallery/gallery';
@import './FAQ/questions';
@import './steps/steps';