.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: $logo-style;
    color: $logo-color;
    font-weight: 600;
    letter-spacing: -0.5px;
    font-size: 22px;

    border-bottom: 2px $logo-color groove;
}

.logo__icon {
    display: flex;
    width: 40px;
    height: 40px;
}

.header {
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.contacts__list{
    display: flex;
    gap: 5px;
}

.contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contacts__icon {
    display: block;
    fill: $logo-color;
    width: 24px;
    height: 24px;
}

// nav styles

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 20px;
}

.nav__link {
    font-family: $h-style;
    font-size: 14px;
    color: $button-text;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    background-color: #f4c4a3;
    transition: 0.3s;
}

.nav__link:hover {
    background-color: #e39b75;
}