.why-me__list {
    margin-bottom: 20px;
}

.why-me__list .why-me__item + .why-me__item {
    margin-top: 15px;
}

.why-me__info{
    font-size: 16px;
    padding: 0 10px;
}

// adaptive

@media (min-width: $tablet) {
  .why-me__list {
    display: grid;
    gap: 20px;
    text-align: center;
  }
}