.footer {
    background: linear-gradient(to top, #e3a48a, $body-background);
    padding: 40px 0;
}

.footer__list{
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.footer__logo-box{
    display: flex;
}

.footer__logo{
    display: inline-block;
    font-family: $logo-style;
    font-size: 28px;
    font-weight: 700;
    color: $logo-color;
}

.footer__box{
    margin-top: 20px;
}

.footer__contacts{
    font-family: $h-style;
    font-size: 16px;
    color: $text-color;
}

.footer__area{
    margin-top: 20px;
    font-family: $h-style;
    font-size: 14px;
    color: $text-color;
}

.footer__ending{
    margin-top: 60px;
    font-family: $h-style;
    font-size: 14px;
    text-align: center;
    color: $text-color;
}

// adaptive

@media (min-width: $tablet) {
  .footer__box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 40px;
  }
}


@media (min-width: $tablet) {
    .footer__logo {
        display: block;
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }
}