.gallery__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

/* фиксируем форму и высоту */
.gallery__item {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  outline: none;

  aspect-ratio: 4 / 3;      /* делает миниатюру */
  max-height: 160px;        /* доп. ограничение высоты */
}

.gallery__item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;        /* обрезает, чтобы картинка красиво вписалась */
  transform: scale(1.02);
  transition: transform 0.3s ease, filter 0.3s ease;
}

// adaptive

@media (min-width: $tablet) {
  .gallery__grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px; /* чтобы не растягивалось */
    margin: 0 auto;   /* центр */
  }
}