.cleaning__list{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cleaning__item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cleaning__pickture {
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
}

.cleaning__pick {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.cleaning__title{
    font-family: $h-style;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.cleaning__info {
    font-size: 16px;
    text-align: center;
    margin-top: auto;
}

// adaptive

@media (min-width: $tablet) {
  .cleaning__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
@media (min-width: $desktop) {
  .cleaning__list {
    grid-template-columns: repeat(3, 1fr);
  }
}