/* FORM STYLES */
.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 15px;
    border: 2px solid $logo-color;
    border-radius: 8px;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    color: #5a4035;
}

.form__group label {
    font-weight: 600;
    font-size: 15px;
}

.form__group input,
.form__group select,
.form__group textarea {
    width: 100%;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #e3a48a;
    background: #fff8f4;
    font-size: 15px;
    color: #2a1912;
    font-family: "Poppins", sans-serif;
}

.form__group input:focus,
.form__group select:focus,
.form__group textarea:focus {
    border-color: #c58f6b;
    box-shadow: 0 0 0 3px rgb(227 164 138 / 30%);
}

.form__btn {
    background: #e3a48a;
    color: #fff;
    padding: 14px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border: none;
    transition: 0.3s ease;
}

.form__btn:hover {
    background: #c58f6b;
}

.form-success {
    margin-top: 10px;
}