.hero {
    max-width: 100%;
    
}
.hero-img {
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
}

.hero-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}