.hero {
    max-width: 100%;
    padding-top: 0;
}

.hero-picture {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.hero__img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.hero-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-style: $h-style;
    color: $h-color;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero__info {
    font-size: 15px;
    margin-bottom: 25px;
}


/* Плавная смена текста в hero */
.hero__info {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hero__info--hidden {
  opacity: 0;
}

// adaptive

@media (min-width: 768px) {
  .hero-content {
    max-width: 700px;
    margin: 0 auto;
  }

  .hero-title {
    font-size: 42px;
  }

  .hero__info {
    font-size: 18px;
  }
}